
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel Helte</title>
    <link rel ="stylesheet" href="../../public/CSS/HomePageStyling.css">
</head>
<body>
<div id="app">
    <div id="header">
        <h1>MARVEL</h1>
        <div id="add-hero">
            <form id="marvelForm">
                <button type="submit">Opret</button>
            </form>
        </div>
    </div>
        <div id="hero-list">
            <ul id="heroes">

            </ul>
        </div>
</div>

<div id="modal-add">
    <div id="modal-content-add">
        <span id="close-add">&times;</span>
        <h2>Tilføj en karakter</h2>
        <input type="text" id="hero-name" placeholder="Navn" required>
        <input type="text" id="hero-alias" placeholder="Alias" required>
        <input type="text" id="hero-powers" placeholder="Powers (use , for different power)" required>
        <button id="submit-creation">Tilføj</button>
    </div>
</div>

<div id="modal-info">
    <div id="modal-content-info">
        <span id="close-info">&times;</span>
        <h2>Helte Information</h2>
        <p><strong>Name:</strong> <span id="mhero-name"></span></p>
        <p><strong>Alias:</strong> <span id="mhero-role"></span></p>
        <p><strong>Powers:</strong> <span id="mhero-planet"></span></p>
    </div>
</div>
<div id="modal-update">
    <div id="modal-content-update">
        <span id="close-update">&times;</span>
        <h2>Opdater helten</h2>
        <input type="text" id="update-hero-name" placeholder="Navn" required>
        <input type="text" id="update-hero-alias" placeholder="Alias" required>
        <input type="text" id="update-hero-powers" placeholder="Powers" required>
        <button id="submit-update-hero">Opdater</button>
    </div>
</div>


<script src="../../public/JavaScriptFrontEnd/HeroFrontEnd.js"> </script>
</body>
</html>